<section id="result-position">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn" id="back"><a ng-href="#hikingHome">Back</a></button>
            </div>
        </div>
    </div>
    <div class="conatiner-fluid">
        <div class="row" id="hikingMap">
            <iframe class="well well-sm col-xs-12" ng-src="{{url}}" width="1300" height="550" frameborder="0" allow="geolocation *;"></iframe>
        </div>
    </div>
</section>