<section id="result-position">
    <h3 style="text-align:center; color:#ff3f34;font-family:'Berkshire Swash', cursive;"> WiFi</h3>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn" id="back"><a ng-href="#hikingHome">Back</a></button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="wiFiMap">
            <iframe src="https://helsingborg.opendatasoft.com/explore/embed/dataset/wifi-punkter/map/?location=10,56.05129,12.76179&basemap=jawg.streets&static=false&datasetcard=false&scrollWheelZoom=true"
                width="1310" height="600" frameborder="0" allow="geolocation *;"></iframe>
        </div>
    </div>
    </div>
</section>